<?xml version="1.0"?>
<!--
/**
 *
 * @category Jworks
 * @package ProductReports
 * @author Jitheesh V O <jitheeshvo@gmail.com>
 * @copyright Copyright (c) 2018 Digital Boutique (http://www.digitalboutique.co.uk/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Jworks_ProductReports" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Reports"/>
        </sequence>
    </module>
</config>
